$color-white: #FFFFFF;
$color-dark: #1A1A1A;

$color-gray: #575757;
$color-gray-dark: #404043;
$color-gray-light: #CACACA;

$color-blue: #0054da;
$color-blue-light: hsl(217, 100%, 92%);
$color-yellow: #fceb51;
$color-yellow-light: hsl(54, 100%, 92%);

$color-green: #69FF27;
$color-green-pale: #BFFF5A;
$color-green-light: hsl(101, 100%, 92%);

$color-red: #D62D30;
$color-red-pale: #FA7A7A;
$color-red-light: hsl(0, 100%, 92%);

$color-violet-light: hsl(248, 100%, 92%);
