@import "@/assets/scss/bundle.scss";

.user-widget {
	position: relative;

	display: flex;
	align-items: center;
}

.user-widget__profile {
	position: relative;

	display: flex;
	align-items: center;

	padding: 0.5em 0.875em;
	border-radius: 0.5em;

	cursor: pointer;
	transition: 200ms ease background-color;

	&:hover {
		background: rgba(white, 0.2);
	}

	&:active {
		opacity: 0.8;
	}
}

.user-widget__settings {
	--icon-size: 2em;

	margin-right: 0.75em;

	color: white;
}

.user-widget__info {
	display: grid;
	gap: 0.5em;

	color: white;
}

.user-widget__name {
	font-size: 1.125rem;
}

.user-widget__email {
	font-size: 0.875rem;
}

.user-widget__exit {
	--icon-color: #{$color-gray-light};

	margin-left: 2.5em;
}
