@font-face {
	font-family: "Inter";
	src: local("Inter Variable Weight"), local("Inter-Variable-Weight"),
		url("Inter-VariableFont_slnt,wght.ttf") format("truetype");
	font-weight: 100 1000;
	font-style: normal;
	font-display: swap;
}
